<p>
  <b>Tipoinstitucion:</b>
  <%=h @tipo_institucion.tipoInstitucion %>
</p>


<%= link_to 'Edit', edit_tipo_institucion_path(@tipo_institucion) %> |
<%= link_to 'Ir al listado', tipo_institucions_path %>
