<p>
  <b>Descriptorgenerico:</b>
  <%=h @descriptor_generico.descriptorGenerico %>
</p>


<%= link_to 'Edit', edit_descriptor_generico_path(@descriptor_generico) %> |
<%= link_to 'Ir al listado', descriptor_genericos_path %>
