<h3 class="title">Elije un Departamento</h3>
<div id="box6">
  <%= link_to_departamentos %><span class="color3">&nbsp;&lt;&lt;&nbsp;Seleccione un departamento</span> 
</div>
<table width="95%" height="350px" border="0" cellpadding="2" cellspacing="2" id="content">
  <tr>
    <td rowspan="8" width="265px" height="265px"><img src="../archivos/boliviaEnCifras/beni.gif" /></td>
    <td> <span class="color3">Departamento: </span> <span class="bold2">BENI</span></td>
  </tr>
  <tr>
    
    <td><span class="color3">Fundaci&oacute;n:</span>Creado por D.S. de 18 de Noviembre de 1842, por el Gral. José Ballivian.</td>
  </tr>
  <tr>
    <td><span class="color3">Aniversario c&iacute;vico: </span>18 de Noviembre</td>
  </tr>
  <tr>
    
    <td><span class="color3">Altitud:</span>155 metros sobre el nivel del mar.</td>
  </tr>
  <tr>
    <td><span class="color3">Poblaci&oacute;n:</span>406.982</td>
  </tr>
  <tr>
    
    <td><span class="color3">Superficie: </span>213.564 kilómetros cuadrados.19,4% del territorio total del país 2do. departamento de Bolivia por su superficie.</td>
  </tr>
  <tr>
    <td><span class="color3">Capital:</span><span class="bold2">Trinidad (Provincia Cercado) fundada en 1686 por el sacerdote jesuita Cipriano Barace.</span></td>
  </tr>
  <tr>
    <td><span class="color3">Poblaci&oacute;n en la Capital:</span> 86.385</td>
    
  </tr>
</table>
