<h2>Biblioteca - Valor Noticia</h2>
<%= lista_enlaces @valores,"/biblioteca/valor_noticia/"%>
<%= will_paginate @valores, :param_name => 'page_val', :prev_label   => '&laquo;', :next_label   => '&raquo;' %>