<h2>Series Comparativas</h2>
<%= lista_enlaces @serie_comparativas,"/tema_clave/show_comparativa/"%>
<%= will_paginate @serie_comparativas, :param_name => 'page_com', :prev_label   => '&laquo;', :next_label   => '&raquo;' %>