<p>
  <b>Descriptorespecifico:</b>
  <%=h @descriptor_especifico.descriptorEspecifico %>
</p>


<%= link_to 'Editar', edit_descriptor_especifico_path(@descriptor_especifico) %> |
<%= link_to 'Ir al listado', descriptor_especificos_path %>
