<h2>Gracias por registrarse al Banco Tematico</h2>
<p>
  Felicitaciones, su registro se esta procesando
</p>
<p>
  Por favor ahora ingrese a su cuenta de correo electronico para activar su cuenta.
</p>