<h3>Resetear contrase単a</h3>
<p>Por favor ingrese su nueva contrase単a y confirmela.</p>

<% form_tag url_for(:action => "change_password", :id => params[:id]) do %>
  <div class="login">
  <p>
    <label class="menuTitulo">Contrase単a:</label>
    <%= password_field_tag :password %>
<br>
  </p>

  <p>
    <label class="menuTitulo">Confirmar contrase単a:</label>
    <%= password_field_tag :password_confirmation %>
<br>
  </p>
  <p>
    <%= submit_tag "Cambiar" %>
<br>
  </p>
  </div>
<% end %>

