
<table id="W0040TABLE9" cellspacing="1" cellpadding="1" align="left">
<tbody>
<tr>
<td><table id="W0040TABLE1" cellspacing="2" cellpadding="1" align="left">
  <tbody>
  <tr>
    <td colspan="2"><table id="W0040TABLE2" cellspacing="2" cellpadding="1" align="center">
    <tbody>
      <tr>
        <td><p align="center" class="title"><span id="W0040TEXTBLOCK11">EDICI&Oacute;N Y   TITULACI&Oacute;N</span></p></td>
      </tr>
      <tr>
        <td height="15"></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
      <td bordercolor="#e0e0e0"><table id="W0040TABLE3" cellspacing="2" cellpadding="1">
        <tbody>
        <tr>
        <td><table id="W0040TABLE12" cellspacing="1" cellpadding="1" align="left">
          <tbody>
          <tr></tr>
          <tr>
            <td><table id="W0040TABLE13" cellspacing="2" cellpadding="1" align="left">
                <tbody>
                  <tr>
                    <td background="mesaPeriodismoEdicionTitulacion_Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
                  </tr>
                  <tr>
                    <td colspan="2"><table id="W0040TABLE14" cellspacing="0" cellpadding="0" align="center">
                        <tbody>
                          <tr>
                            <td><p align="center" class="menuTitulo"><strong><span id="W0040TEXTBLOCK12">LA   EDICI&Oacute;N</span></strong></p></td>
                          </tr>
                          <tr>
                            <td>&nbsp;</td>
                          </tr>
                          <tr>
                            <td height="15"><span id="W0040TEXTBLOCK50">Es la revisi&oacute;n final del texto de las informaciones que   saldr&aacute;n publicadas en el medio con un estilo pulcro, atractivo, din&aacute;mico y f&aacute;cil   de entender para un ni&ntilde;o y suficientemente profunda para el lector   exigente.</span></td>
                          </tr>
                          <tr>
                            <td><span id="W0040TEXTBLOCK23">El editor tiene obligaciones   puntuales de forma y de fondo. El Redactor, tambi&eacute;n, y entre ellas est&aacute; la de   asegurarse de que el material est&aacute; revisado y contrastado antes de entregar y   as&iacute; facilitar el trabajo de edici&oacute;n.</span></td>
                          </tr>
                          <tr>
                            <td><span id="W0040TEXTBLOCK22">El editor devuelve el   original al redactor cuando el hecho principal no se ha destacado (puede que la   noticia est&eacute; en la &uacute;ltima l&iacute;nea); cuando la informaci&oacute;n est&aacute; mal organizada o es   contradictoria; cuando el reportero equivoca de g&eacute;nero.</span></td>
                          </tr>
                          <tr>
                            <td><p align="left" class="menuTitulo"><strong><br />
                            Edici&oacute;n de   forma:</strong></p></td>
                          </tr>
                          <tr>
                            <td><span id="W0040TEXTBLOCK52">El editor comprueba LA EXACTITUD de la   informaci&oacute;n, confirma las declaraciones dudosas con el redactor y, en casos   extremos, con el propio declarante. La Exactitud contribuye a la credibilidad   del medio por ausencia de reclamos, desmentidos y aclaraciones.</span></td>
                          </tr>
                          <tr>
                            <td><span id="W0040TEXTBLOCK53">El editor comprueba LA PRECISION de la noticia. </span></td>
                          </tr>
                          <tr>
                            <td><span id="W0040TEXTBLOCK58">En el caso de personas debe cotejar la ortograf&iacute;a del nombre   y apellido, el cargo, el t&iacute;tulo y, en algunas circunstancias, la   edad.</span></td>
                          </tr>
                          <tr>
                            <td><span id="W0040ENLACE4">En el caso de lugares, debe comprobar la direcci&oacute;n, la ubicaci&oacute;n   y la distancia, (en kil&oacute;metros, por ejemplo a partir del punto m&aacute;s   conocido).</span></td>
                          </tr>
                          <tr>
                            <td><span id="W0040ENLACE5">Es importante comprobar las fechas que se mencionan en la   informaci&oacute;n, contrastar las cifras -especialmente en el caso de accidentes- ;   revisar con cuidado las operaciones matem&aacute;ticas y los resultados tanto como las   fuentes de informaci&oacute;n.</span></td>
                          </tr>
                          <tr>
                            <td><span id="W0040ENLACE6">El editor CLARIFICA la informaci&oacute;n quitando lo ambiguo, lo   confuso y aclarando los t&eacute;rminos t&eacute;cnicos o dif&iacute;ciles de entender. Pule el   contenido eliminando las opiniones del redactor y confirma los   entrecomillados.</span></td>
                          </tr>
                          <tr>
                            <td><span id="W0040ENLACE7">El editor CORRIGE la sintaxis gramatical, la concordancia de los   verbos, mide los adjetivos cuando no los elimina; revisa el uso de las   preoposiciones y termina con la puntuaci&oacute;n.</span></td>
                          </tr>
                          <tr>
                            <td bordercolor="#e0e0e0"><p align="left" class="menuTitulo"><strong><span id="W0040TEXTBLOCK14"><br />
                            Edici&oacute;n de   Fondo:</span></strong></p></td>
                          </tr>
                          <tr>
                            <td bordercolor="#e0e0e0"><span id="W0040ENLACE8">El editor   VERIFICA que el lead o cabeza tenga los datos esenciales de la noticia y sea de   impacto y tenga garra con el menor n&uacute;mero posible de palabras. Esto facilita   determinar y escribir el TITULO.</span></td>
                          </tr>
                          <tr>
                            <td bordercolor="#e0e0e0"><span id="W0040ENLACE1">Al editor le toca   verificar que toda la informaci&oacute;n contenida en el texto est&eacute; respaldada por   fuentes y las opiniones est&eacute;n atribuidas a quien las dijo. En el caso de   informaciones conflictivas est&aacute; obligado a exigir la contraparte. No debiera de   aceptar una informaci&oacute;n incompleta o unilateral. </span></td>
                          </tr>
                        </tbody>
                    </table></td>
                  </tr>
                </tbody>
              </table>
            </p></td>
          </tr>
        </tbody>
    </table></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td><table id="W0040TABLE15" cellspacing="1" cellpadding="1" align="left">
    <tbody>
      <tr></tr>
      <tr>
        <td><table id="W0040TABLE16" cellspacing="2" cellpadding="1" align="left">
            <tbody>
              <tr>
                <td background="mesaPeriodismoEdicionTitulacion_Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
              </tr>
              <tr>
                <td colspan="2"><table id="W0040TABLE17" cellspacing="0" cellpadding="0" align="center">
                    <tbody>
                      <tr>
                        <td><p align="center" class="menuTitulo"><strong><span id="W0040TEXTBLOCK21">LA   TITULACI&Oacute;N</span></strong></p></td>
                      </tr>
                      <tr>
                        <td height="15">&nbsp;</td>
                      </tr>
                      <tr>
                        <td height="15"><span id="W0040TEXTBLOCK15">Es el conjunto de t&iacute;tulos que permite al destinatario   enterarse de un primer vistazo del acontecer noticioso.</span>&nbsp;</td>
                      </tr>
                      <tr>
                        <td><span id="W0040TEXTBLOCK55">Refleja la personalidad y   l&iacute;nea del medio impreso o audiovisual. (titulaci&oacute;n formal, informal y   sensacionalista)</span></td>
                      </tr>
                      <tr>
                        <td><span id="W0040TEXTBLOCK31">El t&iacute;tulo es el conjunto de   frases que identifica y encabeza el texto de un g&eacute;nero   period&iacute;stico.</span></td>
                      </tr>
                      <tr>
                        <td><span id="W0040TEXTBLOCK35">Forma parte del ENCABEZADO si   la informaci&oacute;n lleva adem&aacute;s un antet&iacute;tulo, subt&iacute;tulo y sumario.</span></td>
                      </tr>
                      <tr>
                        <td><span id="W0040TEXTBLOCK37">El antet&iacute;tulo consta de una   palabra o una frase corta que se antepone al t&iacute;tulo y lo complementa. Su funci&oacute;n   es enmarcar la noticia.</span></td>
                      </tr>
                      <tr>
                        <td bgcolor="#ffffff"><span id="W0040TEXTBLOCK38">El t&iacute;tulo period&iacute;stico como s&iacute;ntesis de   la noticia ha de ser informativo, y a la vez llamativo, con garra, porque ha de   captar la atenci&oacute;n del lector.Debe captar la esencia de la noticia y expresarla   en una frase de hasta doce palabras. Algunos medios admiten hasta 16, de acuerdo   al espacio y a la l&iacute;nea del peri&oacute;dico.</span></td>
                      </tr>
                      <tr>
                        <td bgcolor="#ffffff"><span id="W0040TEXTBLOCK39">Los subt&iacute;tulos y el sumario despliegan   los restantes elementos de la noticia con declaraciones o informaciones   independientes, no ligadas gramaticalmente al t&iacute;tulo o al   subt&iacute;tulo.</span></td>
                      </tr>
                      <tr>
                        <td><span id="W0040TEXTBLOCK40">Algunas   normas:</span></td>
                      </tr>
                      <tr>
                        <td><span id="W0040TEXTBLOCK45">-- En el Encabezado no   debiera de registrarse repetici&oacute;n de palabras, ni cacofon&iacute;as ni sonidos   chocantes.</span></td>
                      </tr>
                      <tr>
                        <td><span id="W0040TEXTBLOCK46">-- El titular debe redactarse   en una sola oraci&oacute;n con palabras exactas y concretas.</span></td>
                      </tr>
                      <tr>
                        <td><span id="W0040TEXTBLOCK47">-- El verbo en el titular es   fundamental. Es el elemento din&aacute;mico y vivo del relato. El tiempo del verbo   depende de la l&iacute;nea del peri&oacute;dico. Es preferible el tiempo presente. Si se usa e   pasado es aconsejable el pret&eacute;rito perfecto para mantener la repercusi&oacute;n del   hecho en el momento actual del lector.</span></td>
                      </tr>
                      <tr>
                        <td bordercolor="#e0e0e0"><span id="W0040TEXTBLOCK48">-- Evitar los   verbos f&aacute;ciles, los adverbios y los adjetivos.</span></td>
                      </tr>
                      <tr>
                        <td bordercolor="#e0e0e0"><span id="W0040TEXTBLOCK49">-- Un titular   no lleva palabras abreviadas. Debe escapar de las   siglas.</span></td>
                      </tr>
                    </tbody>
                </table></td>
              </tr>
            </tbody>
          </table>
        </p></td>
      </tr>
    </tbody>
  </table></td>
</tr>
<tr>
  <td></td>
</tr>
</tbody>
</table></td>
</tr>
</tbody>
</table></td>
</tr>
</tbody>
</table>
</p></td>
</tr>
</tbody>
</table>
</td>
</tr>
</table>