<table id="W0040TABLE9" cellspacing="1" cellpadding="1" align="left">
<tbody>
<tr>
<td><table id="W0040TABLE1" cellspacing="2" cellpadding="1" align="left">
  <tbody>
  <tr>
    <td colspan="2"><table id="W0040TABLE2" cellspacing="2" cellpadding="1" align="center">
    <tbody>
      <tr>
        <td><p align="center" class="title"><span id="W0040TEXTBLOCK11">FUENTES</span></p></td>
      </tr>
      <tr>
        <td height="15"></td>
      </tr>
      <tr>
        <td height="15"><span class="normal" id="W0040TEXTBLOCK12">Se alude a una fuente como el punto de donde brota agua,   tambi&eacute;n al punto de donde brota el conocimiento.El DRAE define como al &ldquo;material   que sirve de informaci&oacute;n a un investigador o de inspiraci&oacute;n a un autor&rdquo;.Bajo   &ldquo;fuentes de informaci&oacute;n&rdquo; alude a las &ldquo;confidencias, declaraciones o documentos   que sirven de base para la elaboraci&oacute;n de una noticia o reportaje period&iacute;stico&rdquo;.   Tambi&eacute;n &ldquo;a las personas que emiten declaraciones&rdquo;.Un hecho noticioso tiene que   ser refrendado por una fuente a&uacute;n cuando el periodista haya sido testigo en el   momento de haberse producido. Necesariamente consulta a personas o a documentos   para dar contexto y profundidad a la informaci&oacute;n que va a ofrecer a los   destinatarios.</span></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td><span class="menuSubtitulo" id="W0040TEXTBLOCK5">Los tipos de Fuentes   son:</span></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
      <td bordercolor="#e0e0e0"><table id="W0040TABLE3" cellspacing="2" cellpadding="1">
        <tbody>
        <tr>
        <td><table id="W0040TABLE12" cellspacing="1" cellpadding="1" align="left">
          <tbody>
          <tr></tr>
          <tr>
            <td><table id="W0040TABLE13" cellspacing="2" cellpadding="1" align="left">
                <tbody>
                  <tr>
                    <td background="mesaPeriodismoFuentes_Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
                  </tr>
                  <tr>
                    <td colspan="2"><table id="W0040TABLE14" cellspacing="2" cellpadding="1" align="center">
                        <tbody>
                          <tr>
                            <td><p align="left" class="menuTitulo"><strong><span id="W0040TEXTBLOCK6">Fuente Documental   Primaria</span></strong></p></td>
                          </tr>
                          <tr>
                            <td height="15"><span id="W0040TEXTBLOCK14">Es aquel original, de primera mano, generalmente manuscrito   que recoge a su vez fuentes orales y ha sido un instrumento para escribir la   historia; se encuentra en los respositorios o archivos.</span></td>
                          </tr>
                          <tr>
                            <td><span id="W0040TEXTBLOCK48">T&eacute;cnica</span><span id="W0040TEXTBLOCK50">El uso de la fuente documental debe   partir de una cr&iacute;tica de su pertinencia y su correspondencia con la   realidad.</span></td>
                          </tr>
                          <tr>
                            <td></td>
                          </tr>
                          <tr>
                            <td><span id="W0040TEXTBLOCK40">Fuente:</span><span id="W0040TEXTBLOCK52">wikipedia.com</span></td>
                          </tr>
                          <tr>
                            <td bordercolor="#e0e0e0"><span id="W0040ENLACE1"><a href="http://es.wikipedia.org/wiki/Fuente_documental" target="_blank" class="link3">http://es.wikipedia.org/wiki/Fuente_documental</a></span></td>
                          </tr>
                        </tbody>
                    </table></td>
                  </tr>
                </tbody>
              </table>
            </p></td>
          </tr>
        </tbody>
    </table></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td><table id="W0040TABLE15" cellspacing="1" cellpadding="1" align="left">
    <tbody>
      <tr></tr>
      <tr>
        <td><table id="W0040TABLE16" cellspacing="2" cellpadding="1" align="left">
            <tbody>
              <tr>
                <td background="mesaPeriodismoFuentes_Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
              </tr>
              <tr>
                <td colspan="2"><table id="W0040TABLE17" cellspacing="2" cellpadding="1" align="center">
                    <tbody>
                      <tr>
                        <td><p align="left" class="menuTitulo"><strong><span id="W0040TEXTBLOCK7">Fuente Documental   Secundaria</span></strong></p></td>
                      </tr>
                      <tr>
                        <td height="15"><span id="W0040TEXTBLOCK15">Las que hacen referencia a los documentos originales en sus   investigaciones; los informes reservados o clasificados sobre la actividad   p&uacute;blica o la privada que es de inter&eacute;s general y p&uacute;blico; los ensayos, estudios   e investigaciones que suelen circular en determinados estamentos del pensamiento   dentro de un grupo social; la bibliograf&iacute;a producida por instituciones privadas,   p&uacute;blicas, nacionales e internacionales; los discursos y conferencias p&uacute;blicas de   inter&eacute;s general.</span></td>
                      </tr>
                      <tr>
                        <td><span id="W0040TEXTBLOCK54">T&eacute;cnica</span><span id="W0040TEXTBLOCK55">Las fuentes deben ser contrastadas   entre ellas. Se cita los contenidos con fidelidad.Se se&ntilde;ala clarmente la   fuente</span></td>
                      </tr>
                      <tr>
                        <td></td>
                      </tr>
                      <tr>
                        <td><span id="W0040TEXTBLOCK41">Fuente:</span><span id="W0040TEXTBLOCK57">wikipedia.com</span></td>
                      </tr>
                      <tr>
                        <td bordercolor="#e0e0e0"><span id="W0040ENLACE2"><a href="http://serviciosva.itesm.mx/cvr/investigacion/doc0059.htm" target="_blank" class="link3">http://serviciosva.itesm.mx/cvr/investigacion/doc0059.htm</a></span></td>
                      </tr>
                    </tbody>
                </table></td>
              </tr>
            </tbody>
          </table>
        </p></td>
      </tr>
    </tbody>
  </table></td>
</tr>
<tr>
  <td></td>
</tr>
<tr>
<td><table id="W0040TABLE18" cellspacing="1" cellpadding="1" align="left">
  <tbody>
  <tr></tr>
  <tr>
    <td><table id="W0040TABLE19" cellspacing="2" cellpadding="1" align="left">
        <tbody>
          <tr>
            <td background="mesaPeriodismoFuentes_Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
          </tr>
          <tr>
            <td colspan="2"><table id="W0040TABLE20" cellspacing="2" cellpadding="1" align="center">
                <tbody>
                  <tr>
                    <td><p align="left" class="menuTitulo"><strong><span id="W0040TEXTBLOCK8">Fuente Personal   Confidencial o Reservada.</span></strong></p></td>
                  </tr>
                  <tr>
                    <td height="15"><span id="W0040TEXTBLOCK16">Es la que alerta, da pautas y puede llegar a formular   declaraciones no publicables de orientaci&oacute;n.</span></td>
                  </tr>
                  <tr>
                    <td><span id="W0040TEXTBLOCK59">T&eacute;cnica</span><span id="W0040TEXTBLOCK60">Formularse preguntas previas sobre el   fin, los afectados y los beneficiarios de la fuente que de la   alerta.</span></td>
                  </tr>
                  <tr>
                    <td></td>
                  </tr>
                  <tr>
                    <td><span id="W0040TEXTBLOCK42">Fuente:</span><span id="W0040TEXTBLOCK62">Periodismo: Apuntes Te&oacute;rico t&eacute;cnicos,   Erick Torrico, 1989 Normas B&aacute;sicas para los servicios informativos.Agencia Efe,   1988.Liro de Estlo de El Pa&iacute;s, 20002. Curso de Periodismo de Medi&aacute;tico.com,   Apuntes de Periodismo, Julio Perotti, apuntesmc3.blogspot.com</span></td>
                  </tr>
                  <tr>
                    <td bordercolor="#e0e0e0"><span id="W0040ENLACE3"><a href="http://www.mediatico.com/" target="_blank" class="link3">www.mediatico.com</a></span></td>
                  </tr>
                </tbody>
            </table></td>
          </tr>
        </tbody>
      </table>
    </p></td>
  </tr>
  </tbody>
</table></td>
</tr>
<tr>
  <td></td>
</tr>
<tr>
<td><table id="W0040TABLE22" cellspacing="1" cellpadding="1" align="left">
  <tbody>
  <tr></tr>
  <tr>
    <td><table id="W0040TABLE23" cellspacing="2" cellpadding="1" align="left">
        <tbody>
          <tr>
            <td background="mesaPeriodismoFuentes_Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
          </tr>
          <tr>
            <td colspan="2"><table id="W0040TABLE21" cellspacing="2" cellpadding="1" align="center">
                <tbody>
                  <tr>
                    <td><p align="left" class="menuTitulo"><strong><span id="W0040TEXTBLOCK9">Fuente Personal   Informativa o de atribuci&oacute;n directa</span></strong></p></td>
                  </tr>
                  <tr>
                    <td height="15"><span id="W0040TEXTBLOCK17">Es a la que puede atribuirse las declaraciones, cuanto m&aacute;s   prestigiosa y exacta, mayor credibilidad para el periodista.</span></td>
                  </tr>
                  <tr>
                    <td><span id="W0040TEXTBLOCK64">T&eacute;cnica</span><span id="W0040TEXTBLOCK65">Registro cuidadoso del t&iacute;tulo, cargo,   ortograf&iacute;a del nombre y apelido, citas textuales.</span></td>
                  </tr>
                  <tr>
                    <td></td>
                  </tr>
                  <tr>
                    <td><span id="W0040TEXTBLOCK43">Fuente:</span><span id="W0040TEXTBLOCK67">opcitadas</span></td>
                  </tr>
                  <tr>
                    <td bordercolor="#e0e0e0"><span id="W0040ENLACE4"><a href="http://www.apuntesmc3.blogspot.com/" target="_blank" class="link3">www.apuntesmc3.blogspot.com</a></span></td>
                  </tr>
                </tbody>
            </table></td>
          </tr>
        </tbody>
      </table>
    </p></td>
  </tr>
  </tbody>
</table></td>
</tr>
<tr>
  <td></td>
</tr>
<tr>
<td><table id="W0040TABLE25" cellspacing="1" cellpadding="1" align="left">
  <tbody>
  <tr></tr>
  <tr>
    <td><table id="W0040TABLE26" cellspacing="2" cellpadding="1" align="left">
        <tbody>
          <tr>
            <td background="mesaPeriodismoFuentes_Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
          </tr>
          <tr>
            <td colspan="2"><table id="W0040TABLE24" cellspacing="2" cellpadding="1" align="center">
                <tbody>
                  <tr>
                    <td><p align="left" class="menuTitulo"><strong><span id="W0040TEXTBLOCK10">Fuente Personal   Secreta u &quot;off the record&quot;</span></strong></p></td>
                  </tr>
                  <tr>
                    <td height="15"><span id="W0040TEXTBLOCK18">Deviene en &ldquo;la garganta profunda&rdquo;, aquella que est&aacute; en el   meollo del asunto, tiene acceso a informaci&oacute;n o a documentos &ldquo;s&oacute;lo para los   ojos&rdquo; o &ldquo;s&oacute;lo para los o&iacute;dos&rdquo;. </span></td>
                  </tr>
                  <tr>
                    <td><span id="W0040TEXTBLOCK69">T&eacute;cnica</span><span id="W0040TEXTBLOCK70">El periodista puede utilizar este tipo   de informaci&oacute;n siempre y cuando la confirme y la ampl&iacute;e con otras fuentes   atribuibles.</span></td>
                  </tr>
                  <tr>
                    <td></td>
                  </tr>
                  <tr>
                    <td><span id="W0040TEXTBLOCK44">Fuente:</span><span id="W0040TEXTBLOCK72">opcitadas</span></td>
                  </tr>
                  <tr>
                    <td bordercolor="#e0e0e0"><span id="W0040ENLACE5"><a href="http://www.razonypalabra.org.mx/;%20cem.itesm.mx" target="_blank" class="link3">www.razonypalabra.org.mx;   cem.itesm.mx</a></span></td>
                  </tr>
                </tbody>
            </table></td>
          </tr>
        </tbody>
      </table>
    </p></td>
  </tr>
  </tbody>
</table></td>
</tr>
</tbody>
</table></td>
</tr>
</tbody>
</table></td>
</tr>
</tbody>
</table>
</p></td>
</tr>
</tbody>
</table>
