
<table id="W0040TABLE9" cellspacing="1" cellpadding="1" align="left">
  <tbody>
    <tr>
      <td><table id="W0040TABLE1" cellspacing="2" cellpadding="1" align="left">
          <tbody>
            <tr>
              <td colspan="2"><table id="W0040TABLE2" cellspacing="2" cellpadding="1" align="center">
                  <tbody>
                    <tr>
                      <td><p align="center" class="title"><span id="W0040TEXTBLOCK11">G&Eacute;NEROS   PERIOD&Iacute;STICOS</span></p></td>
                    </tr>
                    <tr>
                      <td height="15"></td>
                    </tr>
                    <tr>
                      <td height="15"><span id="W0040TEXTBLOCK12">Son estilos narrativos, con determinadas caracter&iacute;sticas,   para presentar el relato de un hecho, un sentimiento, desde diversas   perspectivas.</span></td>
                    </tr>
                    <tr>
                      <td></td>
                    </tr>
                    <tr>
                      <td>Los G&eacute;neros Period&iacute;sticos   son:</td>
                    </tr>
                    <tr>
                      <td></td>
                    </tr>
                    <tr>
                      <td></td>
                    </tr>
                    <tr>
                      <td bordercolor="#e0e0e0"><table id="W0040TABLE3" cellspacing="2" cellpadding="1">
                          <tbody>
                            <tr>
                              <td><table id="W0040TABLE12" cellspacing="1" cellpadding="1" align="left">
                                  <tbody>
                                    <tr></tr>
                                    <tr>
                                      <td><table id="W0040TABLE13" cellspacing="2" cellpadding="1" align="left">
                                          <tbody>
                                            <tr>
                                              <td background="mesaGenerosPeriodisticos_Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
                                            </tr>
                                            <tr>
                                              <td colspan="2"><table id="W0040TABLE14" cellspacing="2" cellpadding="1" align="center">
                                                  <tbody>
                                                    <tr>
                                                      <td><p align="left" class="menuTitulo"><strong><span id="W0040TEXTBLOCK6">Noticia</span></strong></p></td>
                                                    </tr>
                                                    <tr>
                                                      <td height="15"><span id="W0040TEXTBLOCK14">Como n&uacute;cleo de la Informaci&oacute;n, la Noticia constituye en si   misma un g&eacute;nero period&iacute;stico con caracter&iacute;sticas propias.</span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span id="W0040TEXTBLOCK48">T&eacute;cnica</span><span id="W0040TEXTBLOCK50">La noticia incluye elementos   (QUE,QUIEN, CUANDO, DONDE, COMO Y POR QUE) y los factores de Inter&eacute;s,   proximidad, magnitud, oprtunidad e importancia. </span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span id="W0040TEXTBLOCK49">Estilo</span><span id="W0040TEXTBLOCK22">El texto se caracteriza por su   claridad, concisi&oacute;n y precisi&oacute;n. Sus cualidades son: veraz, exacta y completa. </span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span class="menuSubtitulo" id="W0040TEXTBLOCK40">Fuente:</span><span id="W0040TEXTBLOCK52">&nbsp;Curso de Redacci&oacute;n, Gonzalo Mart&iacute;n   Vivaldi.1964.Editorial Paraninfo,Madrid. Bartolom&eacute; Mostaza, Escuela Oficial de   Periodismo, Madrid. Libro de Estilo de El Pa&iacute;s, Madrid. Normas B&aacute;sicas para el   Servicio Informativo Agencia EFE</span></td>
                                                    </tr>
                                                  </tbody>
                                                </table></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        </p></td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                            <tr>
                              <td></td>
                            </tr>
                            <tr>
                              <td><table id="W0040TABLE15" cellspacing="1" cellpadding="1" align="left">
                                  <tbody>
                                    <tr></tr>
                                    <tr>
                                      <td><table id="W0040TABLE16" cellspacing="2" cellpadding="1" align="left">
                                          <tbody>
                                            <tr>
                                              <td background="mesaGenerosPeriodisticos_Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
                                            </tr>
                                            <tr>
                                              <td colspan="2"><table id="W0040TABLE17" cellspacing="2" cellpadding="1" align="center">
                                                  <tbody>
                                                    <tr>
                                                      <td><p align="left" class="menuTitulo"><strong><span id="W0040TEXTBLOCK7">Informaci&oacute;n</span></strong></p></td>
                                                    </tr>
                                                    <tr>
                                                      <td height="15"><span id="W0040TEXTBLOCK15">Muchos libros de Estilo consideran la Informaci&oacute;n como el   cuerpo de la Noticia, el cuerpo informativo, que describe y explica cada uno de   los elementos de la Noticia, de mayor a menor inter&eacute;s.</span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span id="W0040TEXTBLOCK54">T&eacute;cnica</span><span id="W0040TEXTBLOCK55">El cuerpo Informativo permite descolgar   cada uno de los elementos incluidos en el primer p&aacute;rrafo o, complementarlos con   antecedentes e ilustraciones para enriquecer el sentido del hecho noticioso,   explicaciones contrapuestas, comparativas y cronol&oacute;gicas</span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span id="W0040TEXTBLOCK56">Estilo</span><span id="W0040TEXTBLOCK31">Cada p&aacute;rrafo debiera de ser tan   completo que, si por necesidad de espacio se llegara a cortar el texto, el   cuerpo de la informaci&oacute;n no debiera de perder ilaci&oacute;n en el   contenido..</span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span class="menuSubtitulo" id="W0040TEXTBLOCK41">Fuente:</span><span id="W0040TEXTBLOCK57">&nbsp;Curso de Redacci&oacute;n, Gonzalo Mart&iacute;n   Vivaldi.1964.Editorial Paraninfo,Madrid. Bartolom&eacute; Mostaza, Escuela Oficial de   Periodismo, Madrid. Libro de Estilo de El Pa&iacute;s, Madrid. Normas B&aacute;sicas para el   Servicio Informativo Agencia EFE</span></td>
                                                    </tr>
                                                  </tbody>
                                                </table></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        </p></td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                            <tr>
                              <td></td>
                            </tr>
                            <tr>
                              <td><table id="W0040TABLE18" cellspacing="1" cellpadding="1" align="left">
                                  <tbody>
                                    <tr></tr>
                                    <tr>
                                      <td><table id="W0040TABLE19" cellspacing="2" cellpadding="1" align="left">
                                          <tbody>
                                            <tr>
                                              <td background="mesaGenerosPeriodisticos_Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
                                            </tr>
                                            <tr>
                                              <td colspan="2"><table id="W0040TABLE20" cellspacing="2" cellpadding="1" align="center">
                                                  <tbody>
                                                    <tr>
                                                      <td><p align="left" class="menuTitulo"><strong><span id="W0040TEXTBLOCK8">Cr&oacute;nica</span></strong></p></td>
                                                    </tr>
                                                    <tr>
                                                      <td height="15"><span id="W0040TEXTBLOCK16">El griego &ldquo;cronos&rdquo; significa TIEMPO y &ldquo;legos&rdquo; equivale a   CONTAR. Entonces, la cr&oacute;nica es un registro de acontecimientos redactados en el   orden que sucedieron.La cr&oacute;nica, seg&uacute;n el autor Robert Mainen &ndash;de principios del   siglo pasado- dio la idea fundamental de la cr&oacute;nica: Es informaci&oacute;n y   comentario.La cr&oacute;nica, seg&uacute;n Gonzalo Mart&iacute;n Vivaldi, es narrar los hechos desde   la subjetividad del periodista. </span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span id="W0040TEXTBLOCK59">T&eacute;cnica</span><span id="W0040TEXTBLOCK60">-Parte necesariamente de un   acontecimiento noticioso. Sin noticia, la cr&oacute;nica no es period&iacute;stica sino una   relaci&oacute;n hist&oacute;rica.La obligaci&oacute;n es narrar sobre el eje del tiempo y la   valoraci&oacute;n subjetiva del cronista.La redacci&oacute;n, con mayor libertad para el   estilo literario, por ser noticiosa ha de ser siempre clara y   concisa.</span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span id="W0040TEXTBLOCK61">Estilo</span><span id="W0040TEXTBLOCK32">El prop&oacute;sito de la Cr&oacute;nica es el de   informar y orientar en base a una disecci&oacute;n de la noticia, tratando de ver m&aacute;s   all&aacute; de lo que puede verse. El texto ha de tener un estilo grato, ameno, claro y   directo, conciso y preciso</span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span class="menuSubtitulo" id="W0040TEXTBLOCK42">Fuente:</span><span id="W0040TEXTBLOCK62">&nbsp;Curso de Redacci&oacute;n, Gonzalo Mart&iacute;n   Vivaldi.1964.Editorial Paraninfo,Madrid, Libro de Estilo de El Pa&iacute;s, Madrid.   Normas B&aacute;sicas para el Servicio Informativo Agencia EFE, El Periodista, Alex   Grijalbo</span></td>
                                                    </tr>
                                                  </tbody>
                                                </table></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        </p></td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                            <tr>
                              <td></td>
                            </tr>
                            <tr>
                              <td><table id="W0040TABLE22" cellspacing="1" cellpadding="1" align="left">
                                  <tbody>
                                    <tr></tr>
                                    <tr>
                                      <td><table id="W0040TABLE23" cellspacing="2" cellpadding="1" align="left">
                                          <tbody>
                                            <tr>
                                              <td background="mesaGenerosPeriodisticos_Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
                                            </tr>
                                            <tr>
                                              <td colspan="2"><table id="W0040TABLE21" cellspacing="2" cellpadding="1" align="center">
                                                  <tbody>
                                                    <tr>
                                                      <td><p align="left" class="menuTitulo"><strong><span id="W0040TEXTBLOCK9">Entrevista</span></strong></p></td>
                                                    </tr>
                                                    <tr>
                                                      <td height="15"><span id="W0040TEXTBLOCK17">La entrevista destaca generalmente el QUIEN de la noticia.   Se entrevista para saber lo que piensa u opina de un determinado asunto que   forma parte de la coyuntura noticiosa o de actualidad. Es ALGUIEN que sabe mucho   de ALGO que est&aacute; en el tapete de la actualidad.</span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span id="W0040TEXTBLOCK64">T&eacute;cnica</span><span id="W0040TEXTBLOCK65">La entrevista tiene t&eacute;cnicas de   realizaci&oacute;n: dominar el tema sobre el que se va a preguntar, saber preguntar   pero no acosar con preguntas, saber escuchar pero no dejarse envolver con el   entrevistado, saber interrumpir el momento preciso para aclarar o pedir mayor   ampliaci&oacute;n sobre un punto determinado e importante de la   entrevista.</span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span id="W0040TEXTBLOCK66">Estilo</span><span id="W0040TEXTBLOCK33">A diferencia de otros g&eacute;neros, la   entrevista permite mayor libertad de expresi&oacute;n, ritmo, color y la fuerza del   detalle anecd&oacute;tico o emotivo de un hecho noticioso.Puede ser directa, de   pregunta y respuesta, o indirecta que intercala citas   textuales.</span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span id="W0040TEXTBLOCK43">Fuente:</span><span id="W0040TEXTBLOCK67">Instituto Poynter*, Curso de Redacci&oacute;n   y Estilo de Gonzalo Mart&iacute;n Vivaldi, Libro de Estilo de El Pa&iacute;s,   Madrid</span></td>
                                                    </tr>
                                                  </tbody>
                                                </table></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        </p></td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                            <tr>
                              <td></td>
                            </tr>
                            <tr>
                              <td><table id="W0040TABLE25" cellspacing="1" cellpadding="1" align="left">
                                  <tbody>
                                    <tr></tr>
                                    <tr>
                                      <td><table id="W0040TABLE26" cellspacing="2" cellpadding="1" align="left">
                                          <tbody>
                                            <tr>
                                              <td background="mesaGenerosPeriodisticos_Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
                                            </tr>
                                            <tr>
                                              <td colspan="2"><table id="W0040TABLE24" cellspacing="2" cellpadding="1" align="center">
                                                  <tbody>
                                                    <tr>
                                                      <td><p align="left" class="menuTitulo"><strong><span id="W0040TEXTBLOCK10">Reportaje</span></strong></p></td>
                                                    </tr>
                                                    <tr>
                                                      <td height="15"><span id="W0040TEXTBLOCK18">El reportaje es el relato informativo en estilo directo, un   retrato de un hecho noticioso actual en el que el periodista tiene mayor   libertad de exposici&oacute;n, pero no valora ni opina. Apela a otros g&eacute;neros como el   de Noticia-Informaci&oacute;n y de Entrevista. Existen variables como el Gran   Reportaje, denominado Informe Especial o Dossier.</span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span id="W0040TEXTBLOCK69">T&eacute;cnica</span><span id="W0040TEXTBLOCK70">El reportaje exige ideas claras y uno   tiene ideas claras cuando est&aacute; impuesto del tema, lo conoce a fondo y puede   hablar &ndash;escribir- con propiedad. </span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span id="W0040TEXTBLOCK71">Estilo</span><span id="W0040TEXTBLOCK34">El reportaje demanda un estilo exacto y   preciso y un relato con ritmo, color y pertinencia. Demanda un comienzo   atractivo, un desarrollo interesante y un final concreto.El periodismo   norteamericano es el que m&aacute;s ha desarrollado el g&eacute;nero Reportaje:a.- Fact Story:   como relato en bloques descendentes, de mayor a menor inter&eacute;s en el que la   Descripci&oacute;n juega un papel fundamental. b.- Action Story: como relato animado,   que parte del elemento de mayor inter&eacute;s que se ampl&iacute;a y se complementa con   detalles.c.-Quote Store: es un relato documentado que alterna el hecho noticioso   con citas complementarias que respalda la cabeza del reportaje.</span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span class="menuSubtitulo" id="W0040TEXTBLOCK44">Fuente:</span><span id="W0040TEXTBLOCK72">&nbsp;Curso de Redacci&oacute;n, Gonzalo Mart&iacute;n   Vivaldi, 1964 Editorial Paraninfo, Madrid. Notrain-Nogain.Freedom Forum   Report.</span></td>
                                                    </tr>
                                                  </tbody>
                                                </table></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        </p></td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                            <tr>
                              <td></td>
                            </tr>
                            <tr>
                              <td><table id="W0040TABLE28" cellspacing="1" cellpadding="1" align="left">
                                  <tbody>
                                    <tr></tr>
                                    <tr>
                                      <td><table id="W0040TABLE29" cellspacing="2" cellpadding="1" align="left">
                                          <tbody>
                                            <tr>
                                              <td background="mesaGenerosPeriodisticos_Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
                                            </tr>
                                            <tr>
                                              <td colspan="2"><table id="W0040TABLE27" cellspacing="2" cellpadding="1" align="center">
                                                  <tbody>
                                                    <tr>
                                                      <td><p align="left" class="menuTitulo"><strong><span id="W0040TEXTBLOCK13">Semblanza</span></strong></p></td>
                                                    </tr>
                                                    <tr>
                                                      <td height="15"><span id="W0040TEXTBLOCK19">Es un g&eacute;nero period&iacute;stico que hace al hombre: lo retrata a   partir de un hecho noticioso y est&aacute; estrechamente vinculado a una persona   conocida. (premio, ascenso, estreno de obra o industria).Incluida en este g&eacute;nero   se encuentra la denominada Nota Humana, destinada a destacar personas m&aacute;s bien   desconocidas que saltan a la actualidad a partir de un hecho noticioso por una   conducta que rescata valores de hero&iacute;smo, honestidad, lealtad,   perseverancia.</span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span id="W0040TEXTBLOCK74">T&eacute;cnica</span><span id="W0040TEXTBLOCK75">Implica pocas pero acertadas pinceladas   reveladoras de la vida y obra de una persona CONOCIDA a partir de un hecho   noticioso.Sucede lo mismo con las notas humanas.</span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span id="W0040TEXTBLOCK76">Estilo</span><span id="W0040TEXTBLOCK35">Exige dominio de la descripci&oacute;n dentro   de una narraci&oacute;n relativamente breve</span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span class="menuSubtitulo" id="W0040TEXTBLOCK45">Fuente:</span><span id="W0040TEXTBLOCK77">&nbsp;Curso de Redacci&oacute;n y Estilo, Gonzalo   Mart&iacute;n Vivaldi, 1964. G&eacute;neros Period&iacute;sticos, Gonzalo Mart&iacute;n Vivaldi, 1987,   Panraninfo, Madrid</span></td>
                                                    </tr>
                                                  </tbody>
                                                </table></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        </p></td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                            <tr>
                              <td></td>
                            </tr>
                            <tr>
                              <td><table id="W0040TABLE31" cellspacing="1" cellpadding="1" align="left">
                                  <tbody>
                                    <tr></tr>
                                    <tr>
                                      <td><table id="W0040TABLE32" cellspacing="2" cellpadding="1" align="left">
                                          <tbody>
                                            <tr>
                                              <td background="mesaGenerosPeriodisticos_Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
                                            </tr>
                                            <tr>
                                              <td colspan="2"><table id="W0040TABLE30" cellspacing="2" cellpadding="1" align="center">
                                                  <tbody>
                                                    <tr>
                                                      <td><p align="left" class="menuTitulo"><strong><span id="W0040TEXTBLOCK20">Necrol&oacute;gica</span></strong></p></td>
                                                    </tr>
                                                    <tr>
                                                      <td height="15"><span id="W0040TEXTBLOCK21">Es otro g&eacute;nero period&iacute;stico que hace al hombre: lo retrata   despu&eacute;s de muerto.</span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span id="W0040TEXTBLOCK79">T&eacute;cnica</span><span id="W0040TEXTBLOCK80">Es el m&aacute;s dif&iacute;cil de los g&eacute;neros. Se   trata de hablar de alguien que acaba de morir, o, lo peor, que est&aacute; por morir.   La muerte paga el pecado y tambi&eacute;n borra todo lo malo de una   persona.</span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span id="W0040TEXTBLOCK81">Estilo</span><span id="W0040TEXTBLOCK36">En la Necrol&oacute;gica el lenguaje es   fundamental.Exige rigor y precisi&oacute;n para mantener el equilibrio entre la   tendencia a la adjetivaci&oacute;n de modo que el obituario se vaya en elogios ni   demasiado secos que proyecte aversi&oacute;n</span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span class="menuSubtitulo" id="W0040TEXTBLOCK46">Fuente:</span><span id="W0040TEXTBLOCK82">&nbsp;Curso de Redacci&oacute;n y Estilo, Gonzalo   Mart&iacute;n Vivaldi, 1964. G&eacute;neros Period&iacute;sticos, Gonzalo Mart&iacute;n Vivaldi, 1987,   Panraninfo, Madrid</span></td>
                                                    </tr>
                                                  </tbody>
                                                </table></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        </p></td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                            <tr>
                              <td></td>
                            </tr>
                            <tr>
                              <td><table id="W0040TABLE38" cellspacing="1" cellpadding="1" align="left">
                                  <tbody>
                                    <tr></tr>
                                    <tr>
                                      <td><table id="W0040TABLE39" cellspacing="2" cellpadding="1" align="left">
                                          <tbody>
                                            <tr>
                                              <td background="mesaGenerosPeriodisticos_Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
                                            </tr>
                                            <tr>
                                              <td colspan="2"><table id="W0040TABLE33" cellspacing="2" cellpadding="1" align="center">
                                                  <tbody>
                                                    <tr>
                                                      <td><p align="left" class="menuTitulo"><strong><span id="W0040TEXTBLOCK23">Editorial</span></strong></p></td>
                                                    </tr>
                                                    <tr>
                                                      <td height="15"><span id="W0040TEXTBLOCK24">Algunos autores aglutinan a estos dos, junto con el art&iacute;culo   y el comentario, bajo el gen&eacute;rico de &ldquo;G&eacute;neros de Opini&oacute;n&rdquo;, pues la principal   caracter&iacute;stica de los cuatro es la expresi&oacute;n de opini&oacute;n a partir de un hecho   noticioso.El Editorial comenta, analiza y valora el acontecer noticioso de   trascendencia local, regional, nacional o internacional. Pone en p&uacute;blica   evidencia la filosof&iacute;a pol&iacute;tica, orientaci&oacute;n doctrinal, fija una posici&oacute;n del   medio respecto a un hecho relacionado con el grupo social al que sirve. </span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span id="W0040TEXTBLOCK84">T&eacute;cnica</span><span id="W0040TEXTBLOCK85">Utiliza la diagnosis y la prognosis: el   planteamiento del hecho noticioso, su descripci&oacute;n diferencial y abreviada para   dar a conocer sus implicaciones y consecuencias. En la prognosis se formula una   reflexi&oacute;n y conclusi&oacute;n.No se firma.</span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span id="W0040TEXTBLOCK86">Estilo</span><span id="W0040TEXTBLOCK37">Estilo LIBRE, pero exige claridad en la   exposici&oacute;n de las ideas. Ha de ser BREVE en su extensi&oacute;n.Ha de ser EQUILIBRADO y   RAZONADO para convencer al receptor.Ha de huir de la erudici&oacute;n</span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span class="menuSubtitulo" id="W0040TEXTBLOCK47">Fuente:</span><span id="W0040TEXTBLOCK87">&nbsp;Curso de Redacci&oacute;n y Estilo, Gonzalo   Mart&iacute;n Vivaldi, 1964. G&eacute;neros Period&iacute;sticos, Gonzalo Mart&iacute;n Vivaldi, 1987,   Panraninfo, Madrid.Medi&aacute;tico.com </span></td>
                                                    </tr>
                                                    <tr>
                                                      <td bordercolor="#e0e0e0"></td>
                                                    </tr>
                                                  </tbody>
                                                </table></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        </p></td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                            <tr>
                              <td></td>
                            </tr>
                            <tr>
                              <td><table id="W0040TABLE40" cellspacing="1" cellpadding="1" align="left">
                                  <tbody>
                                    <tr></tr>
                                    <tr>
                                      <td><table id="W0040TABLE41" cellspacing="2" cellpadding="1" align="left">
                                          <tbody>
                                            <tr>
                                              <td background="mesaGenerosPeriodisticos_Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
                                            </tr>
                                            <tr>
                                              <td colspan="2"><table id="W0040TABLE34" cellspacing="2" cellpadding="1" align="center">
                                                  <tbody>
                                                    <tr>
                                                      <td><p align="left" class="menuTitulo"><strong><span id="W0040TEXTBLOCK25">Glosa </span></strong></p></td>
                                                    </tr>
                                                    <tr>
                                                      <td height="15"><span id="W0040TEXTBLOCK26">Est&aacute; considerado como el peque&ntilde;o editorial del medio. Su   arte est&aacute; en la brevedad, pero permite mayor libertad de   expresi&oacute;n.</span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span id="W0040TEXTBLOCK89">T&eacute;cnica</span><span id="W0040TEXTBLOCK90">Puede ir o no con firma.Bien hecha, la   glosa es una joya del periodismo</span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span id="W0040TEXTBLOCK91">Estilo</span><span id="W0040TEXTBLOCK38">El estilo es libre. El texto conciso y   claro.</span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span class="menuSubtitulo" id="W0040TEXTBLOCK51">Fuente:</span><span id="W0040TEXTBLOCK92">&nbsp;Curso de Redacci&oacute;n y Estilo, Gonzalo   Mart&iacute;n Vivaldi, 1964. G&eacute;neros Period&iacute;sticos, Gonzalo Mart&iacute;n Vivaldi, 1987,   Panraninfo, Madrid</span></td>
                                                    </tr>
                                                    <tr>
                                                      <td bordercolor="#e0e0e0"></td>
                                                    </tr>
                                                  </tbody>
                                                </table></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        </p></td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                            <tr>
                              <td></td>
                            </tr>
                            <tr>
                              <td><table id="W0040TABLE36" cellspacing="1" cellpadding="1" align="left">
                                  <tbody>
                                    <tr></tr>
                                    <tr>
                                      <td><table id="W0040TABLE37" cellspacing="2" cellpadding="1" align="left">
                                          <tbody>
                                            <tr>
                                              <td background="mesaGenerosPeriodisticos_Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
                                            </tr>
                                            <tr>
                                              <td colspan="2"><table id="W0040TABLE35" cellspacing="2" cellpadding="1" align="center">
                                                  <tbody>
                                                    <tr>
                                                      <td><p align="left" class="menuTitulo"><strong><span id="W0040TEXTBLOCK27">Comentario y   Art&iacute;culo</span></strong></p></td>
                                                    </tr>
                                                    <tr>
                                                      <td height="15"><span id="W0040TEXTBLOCK28">Son medios de expresi&oacute;n de opini&oacute;n bajo la responsabilidad   de una firma.Tienen el mismo prop&oacute;sito: referirse a un hecho noticioso y   analizarlo desde su &oacute;ptica personal y, es por ello que los dos generan nombre   propio: columnista y articulista</span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span id="W0040TEXTBLOCK94">T&eacute;cnica</span><span id="W0040TEXTBLOCK95">Este g&eacute;nero marca decididamente la   personalidad del peri&oacute;dico y la atracci&oacute;n de la p&aacute;gina de pensamiento. </span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span id="W0040TEXTBLOCK96">Estilo</span><span id="W0040TEXTBLOCK39">Es un g&eacute;nero libre en el estilo y el   tema. Es apropiado para cr&iacute;ticos y cronistas costumbristas.</span></td>
                                                    </tr>
                                                    <tr>
                                                      <td><span class="menuSubtitulo" id="W0040TEXTBLOCK97">Fuente:</span><span id="W0040TEXTBLOCK98">&nbsp;Curso de Redacci&oacute;n y Estilo, Gonzalo   Mart&iacute;n Vivaldi, 1964. G&eacute;neros Period&iacute;sticos, Gonzalo Mart&iacute;n Vivaldi, 1987,   Panraninfo, Madrid</span></td>
                                                    </tr>
                                                    <tr>
                                                      <td bordercolor="#e0e0e0"></td>
                                                    </tr>
                                                  </tbody>
                                                </table></td>
                                            </tr>
                                          </tbody>
                                        </table>
                                        </p></td>
                                    </tr>
                                  </tbody>
                                </table></td>
                            </tr>
                          </tbody>
                        </table></td>
                    </tr>
                  </tbody>
                </table></td>
            </tr>
          </tbody>
        </table>
        </p></td>
    </tr>
  </tbody>
</table>