<table id="W0041TABLE1" cellspacing="2" cellpadding="1" align="left">
<tbody>
<tr>
<td colspan="2">
<table id="W0041TABLE2" cellspacing="2" cellpadding="1" align="center">
<tbody>
<tr>
  <td><p align="center" class="title"><span id="W0041TEXTBLOCK11">HONESTIDAD</span></p></td>
</tr>
<tr>
  <td></td>
</tr>
<tr>
  <td></td>
</tr>
<tr>
<td bordercolor="#e0e0e0">
<table id="W0041TABLE3" cellspacing="2" cellpadding="1">
<tbody>
<tr>
  <td><table id="W0041TABLE12" cellspacing="1" cellpadding="1" align="left">
      <tbody>
        <tr> </tr>
        <tr>
          <td><table id="W0041TABLE13" cellspacing="2" cellpadding="1" align="left">
              <tbody>
                <tr>
                  <td background="eticaHonestidad_Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
                </tr>
                <tr>
                  <td colspan="2"><table id="W0041TABLE14" cellspacing="2" cellpadding="1" align="center">
                      <tbody>
                        <tr>
                          <td><p align="left" class="menuTitulo"><strong><span id="W0041TEXTBLOCK6">Costa   Rica</span></strong></p></td>
                        </tr>
                        <tr>
                          <td height="15"><span class="menuSubtitulo" id="W0041TEXTBLOCK48">Norma</span></td>
                        </tr>
                        <tr>
                          <td><span id="W0041TEXTBLOCK50">C&oacute;digo de &euml;tica, Art&iacute;culo 1.   El primer deber profesional de las y los miembros del Colegio de Periodistas de   Costa Rica es con la sociedad costarricense, por ello deber&aacute;n de ser honestos,   justos y valientes al recopilar, reportar e interpretar la informaci&oacute;n. </span></td>
                        </tr>
                        <tr>
                          <td><span id="W0041TEXTBLOCK22">ART&Iacute;CULO 5: Las y los   miembros del Colegio no podr&aacute;n encubrir, alentar, permitir, facilitar o proteger   en cualquier forma el ejercicio deshonesto de la profesi&oacute;n. </span></td>
                        </tr>
                        <tr>
                          <td><span id="W0041TEXTBLOCK23">ART&Iacute;CULO 9: Las y los   periodistas deben actuar con integridad en el desempe&ntilde;o de su profesi&oacute;n,   debiendo de abstenerse de toda actuaci&oacute;n deshonesta, que pueda afectar su   prestigio, el de la profesi&oacute;n, el del cuerpo colegiado al que pertenecen..Bajo   ning&uacute;n supuesto el y la Periodista puede aceptar cualquier forma de remuneraci&oacute;n   il&iacute;cita, ni promover intereses contrarios al bien com&uacute;n.</span></td>
                        </tr>
                        <tr>
                          <td><span id="W0041TEXTBLOCK40">Fuente:</span><span id="W0041TEXTBLOCK52">Colegio de Periodistas de Costa   Rica</span>&nbsp;</td>
                        </tr>
                        <tr>
                          <td bordercolor="#e0e0e0"><span id="W0041ENLACE1"><a href="http://www.colper.or.cr/" target="_blank" class="link3">www.Colper.or.cr</a></span></td>
                        </tr>
                      </tbody>
                  </table></td>
                </tr>
              </tbody>
          </table></td>
        </tr>
      </tbody>
  </table></td>
</tr>
<tr>
  <td></td>
</tr>
<tr>
  <td><table id="W0041TABLE15" cellspacing="1" cellpadding="1" align="left">
      <tbody>
        <tr></tr>
        <tr>
          <td><table id="W0041TABLE16" cellspacing="2" cellpadding="1" align="left">
              <tbody>
                <tr>
                  <td background="eticaHonestidad_Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
                </tr>
                <tr>
                  <td colspan="2"><table id="W0041TABLE17" cellspacing="2" cellpadding="1" align="center">
                      <tbody>
                        <tr>
                          <td><p align="left" class="menuTitulo"><strong><span id="W0041TEXTBLOCK7">Honduras</span></strong></p></td>
                        </tr>
                        <tr>
                          <td height="15"><span class="menuSubtitulo" id="W0041TEXTBLOCK49">Norma</span></td>
                        </tr>
                        <tr>
                          <td height="15"><span id="W0041TEXTBLOCK15">C&oacute;digo de &eacute;tica, art&iacute;culo 4.- Se proh&iacute;be a los colegiados: </span>&nbsp;</td>
                        </tr>
                        <tr>
                          <td><span id="W0041TEXTBLOCK55">d) La sumisi&oacute;n a trav&eacute;s de   los medios de comunicaci&oacute;n colectiva a intereses ajenos o contrarios a la   defensa de la soberan&iacute;a nacional, integridad territorial y a las instituciones   democr&aacute;ticas del Estado;</span></td>
                        </tr>
                        <tr>
                          <td><span id="W0041TEXTBLOCK31">e) Servir de instrumento   consciente para la elaboraci&oacute;n o publicaci&oacute;n de art&iacute;culos o anuncios que tiendan   a enga&ntilde;ar al p&uacute;blico o a las instituciones privadas o del   Estado;</span></td>
                        </tr>
                        <tr>
                          <td><span id="W0041TEXTBLOCK35">f) Utilizar el chantaje en   sus diversas manifestaciones con el objeto de obtener ventajas de orden   personal;</span></td>
                        </tr>
                        <tr>
                          <td><span id="W0041TEXTBLOCK41">Fuente:</span><span id="W0041TEXTBLOCK57">Colegio de Periodistas </span>&nbsp;</td>
                        </tr>
                        <tr>
                          <td bordercolor="#e0e0e0"><span id="W0041ENLACE2"><a href="http://www.colegiodeperiodistasdehonduras.com/" target="_blank" class="link3">www.colegiodeperiodistasdehonduras.com</a></span></td>
                        </tr>
                      </tbody>
                  </table></td>
                </tr>
              </tbody>
          </table></td>
        </tr>
      </tbody>
  </table></td>
</tr>
<tr>
  <td></td>
</tr>
<tr>
  <td><table id="W0041TABLE18" cellspacing="1" cellpadding="1" align="left">
      <tbody>
        <tr></tr>
        <tr>
          <td><table id="W0041TABLE19" cellspacing="2" cellpadding="1" align="left">
              <tbody>
                <tr>
                  <td background="eticaHonestidad_Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
                </tr>
                <tr>
                  <td colspan="2"><table id="W0041TABLE20" cellspacing="2" cellpadding="1" align="center">
                      <tbody>
                        <tr>
                          <td><p align="left" class="menuTitulo"><strong><span id="W0041TEXTBLOCK8">Puerto   Rico</span></strong></p></td>
                        </tr>
                        <tr>
                          <td height="15"><span class="menuSubtitulo" id="W0041TEXTBLOCK51">Norma</span></td>
                        </tr>
                        <tr>
                          <td><span id="W0041TEXTBLOCK16">C&oacute;digo de &euml;tica, canon 7: La   capacidad del periodista para influir de modo positivo en la sociedad depende en   grado sumo de la confiabilidad que el pueblo y sus l&iacute;deres tengan en la   integridad personal de los periodistas. No basta con que el periodista sea   honrado, es preciso que evite situaciones que lo comprometan y puedan crear   dudas razonables sobre su integridad personal. </span></td>
                        </tr>
                        <tr>
                          <td><span id="W0041TEXTBLOCK42">Fuente:</span><span id="W0041TEXTBLOCK62">Colegio de Periodistas,   1999</span></td>
                        </tr>
                        <tr>
                          <td></td>
                        </tr>
                        <tr>
                          <td bordercolor="#e0e0e0"></td>
                        </tr>
                      </tbody>
                  </table></td>
                </tr>
              </tbody>
          </table></td>
        </tr>
      </tbody>
  </table></td>
</tr>
<tr>
  <td></td>
</tr>
<tr>
<td>
<table id="W0041TABLE22" cellspacing="1" cellpadding="1" align="left">
<tbody>
  <tr></tr>
  <tr>
    <td><table id="W0041TABLE23" cellspacing="2" cellpadding="1" align="left">
        <tbody>
          <tr>
            <td background="eticaHonestidad_Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
          </tr>
          <tr>
            <td colspan="2"><table id="W0041TABLE21" cellspacing="2" cellpadding="1" align="center">
                <tbody>
                  <tr>
                    <td><span class="menuTitulo" id="W0041TEXTBLOCK9"><strong>Colombia</strong></span></td>
                  </tr>
                  <tr>
                    <td><p align="left" class="menuSubtitulo"><span id="W0041TEXTBLOCK54">Norma</span></p></td>
                  </tr>
                  <tr>
                    <td height="15"><span id="W0041TEXTBLOCK17">C&oacute;digo de &eacute;tica, art&iacute;culo 1&ordm;. La comunidad tiene derecho a   estar informada veraz, suficiente y oportunamente y el periodista est&aacute; en la   obligaci&oacute;n de informarla en esos t&eacute;rminos.</span></td>
                  </tr>
                  <tr>
                    <td><span id="W0041TEXTBLOCK65">1. Aunque resulten   discutibles como t&eacute;rminos absolutos la verdad y la objetividad, es indispensable   en el periodismo la buena fe. El contenido de la noticia o del comentario debe   ser exacto en sus hechos y en su contexto.</span></td>
                  </tr>
                  <tr>
                    <td><span id="W0041TEXTBLOCK33">2. Es necesario presentar las   distintas caras de la noticia y procurar que, en donde haya m&aacute;s de una   interpretaci&oacute;n sobre los hechos, aparezcan todas las que sea   relevantes.</span></td>
                  </tr>
                  <tr>
                    <td><span id="W0041TEXTBLOCK43">Fuente:</span><span id="W0041TEXTBLOCK67">C&iacute;rculo de Periodistas de Bogot&aacute;,   1990</span></td>
                  </tr>
                  <tr>
                    <td bordercolor="#e0e0e0"><span id="W0041ENLACE3"><a href="mailto:nuevocpb@yahoo.com" target="_blank" class="link3">nuevocpb@yahoo.com </a></span></td>
                  </tr>
                </tbody>
            </table></td>
          </tr>
        </tbody>
    </table></td>
  </tr>
</tbody>
</table>
