<table id="W0040TABLE9" cellspacing="1" cellpadding="1" align="left" ?>
       <tbody>

<tr>
<td>
  <table id="W0040TABLE1" cellspacing="2" cellpadding="1" align="left" ?>
         <tbody>
  <tr>
    <td colspan="2"><table id="W0040TABLE2" cellspacing="2" cellpadding="1" align="center" ?>
                           <tbody>
      <tr>
        <td><p align="center" class="title"><span id="W0040TEXTBLOCK11" ?>PERIODISMO</span></p></td>
        
      </tr>
      <tr>
        <td height="15"></td>
      </tr>
      <tr class="normal">
        <td height="15"><span id="W0040TEXTBLOCK12" ?>El Periodismo es la profesi&oacute;n que tiene como base la   vocaci&oacute;n de servicio al grupo social en el que se inserta, para lo cual acopia,   recolecta y divulga, por los medios impresos y audiovisuales, la informaci&oacute;n que   puede emerger del mismo entorno o de otro ajeno que interesa, afecta o impacta   colectivamente.</span></td>
      </tr>
      
      <tr class="normal">
        <td><span id="W0040TEXTBLOCK13" ?>Es esa vocaci&oacute;n de servicio   que ha hecho del Periodismo un baluarte de la libertad de expresi&oacute;n y del   derecho a la informaci&oacute;n que tiene cada uno de los ciudadanos. Esta vocaci&oacute;n de   servicio coloca al periodista, no al medio que puede o no representar intereses   de grupo, como el m&aacute;s id&oacute;neo defensor de esas libertades   ciudadanas.</span></td>
      </tr>
      <tr class="menuSubtitulo">
        <td><span id="W0040TEXTBLOCK5" ?>El Periodismo cubre todas   las actividades humanas lo que ha dado paso a la especializaci&oacute;n y al   reconocimiento, entre otros, de los siguientes:</span></td>
        
      </tr>
      <tr>
        <td></td>
      </tr>
      <tr>
      <td bordercolor="#e0e0e0"><table id="W0040TABLE3" cellspacing="2" cellpadding="1" ?>
                                       <tbody>
        <tr>
        <td><table id="W0040TABLE12" cellspacing="1" cellpadding="1" align="left" ?>
                     
                     <tbody>
          <tr></tr>
          <tr>
            <td><p> </p>
              <table id="W0040TABLE13" cellspacing="2" cellpadding="1" align="left" ?>
                     <tbody>
                  <tr>
                    <td background="http://localhost/bancotematico/Img_Template/Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
                    
                  </tr>
                  <tr>
                    <td colspan="2"><table id="W0040TABLE14" cellspacing="2" cellpadding="1" align="center" ?>
                                             <tbody>
                          <tr>
                            <td><p align="left" class="menuTitulo"><strong><span id="W0040TEXTBLOCK6" ?>Periodismo   Informativo</span></strong></p></td>
                          </tr>
                          <tr>
                            
                            <td height="15" class="normal"><span id="W0040TEXTBLOCK14" ?>Abarca la recopilaci&oacute;n y difusi&oacute;n de la noticia que se   genera en todas las actividades humanas. </span></td>
                          </tr>
                          <tr>
                            <td class="normal"><span id="W0040TEXTBLOCK40" ?>Fuente:</span><span id="W0040TEXTBLOCK22" ?>Manual del Periodismo.   Dovifatt.Uteha/wikipedia.org </span></td>
                          </tr>
                          <tr>
                            
                            <td bordercolor="#e0e0e0"><table id="W0040TABLE21" cellspacing="2" cellpadding="1" align="left" ?>
                                                               <tbody>
                                  <tr>
                                    <td><span id="W0040ENLACE" ?><a href="http://www.apuntes.rincondelvago.com/" target="_blank" class="link3">http://www.apuntes.rincondelvago.com/</a></span></td>
                                  </tr>
                                  <tr>
                                    <td><span id="W0040ENLACE1" ?><a href="http://www.solocursos.net/periodismo" target="_blank" class="link3">http://www.solocursos.net/periodismo</a></span></td>
                                  </tr>
                                  
                                </tbody>
                            </table></td>
                          </tr>
                        </tbody>
                    </table></td>
                  </tr>
                </tbody>
              </table>
            </p></td>
            
          </tr>
        </tbody>
    </table></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td><table id="W0040TABLE15" cellspacing="1" cellpadding="1" align="left" ?>
               
               <tbody>
      <tr></tr>
      <tr>
        <td><p> </p>
          <table id="W0040TABLE16" cellspacing="2" cellpadding="1" align="left" ?>
                 <tbody>
              <tr>
                <td background="http://localhost/bancotematico/Img_Template/Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
                
              </tr>
              <tr>
                <td colspan="2"><table id="W0040TABLE17" cellspacing="2" cellpadding="1" align="center" ?>
                                         <tbody>
                      <tr>
                        <td><p align="left" class="menuTitulo"><strong><span id="W0040TEXTBLOCK15" ?>Periodismo de   Investigaci&oacute;n</span></strong></p></td>
                      </tr>
                      <tr>
                        
                        <td height="15" class="normal"><span id="W0040TEXTBLOCK16" ?>Es aquel que, mediante herramientas propias y acuciosidad,   pone al descubierto aquella informaci&oacute;n que se pretende ocultar o que pasa   desapercibida y que es de inter&eacute;s colectivo.</span></td>
                      </tr>
                      <tr>
                        <td class="normal"><span id="W0040TEXTBLOCK41" ?>Fuente:</span><span id="W0040TEXTBLOCK31" ?>Periodismo de Investigaci&oacute;n, Petra   Secanella.Medi&aacute;tico.com Periodistas de Investigaci&oacute;n.org, Periodismo, Apuntes   Te&oacute;rico pr&aacute;cticos,Erick Torrico</span></td>
                        
                      </tr>
                      <tr>
                        <td bordercolor="#e0e0e0"><table id="W0040TABLE4" cellspacing="2" cellpadding="1" align="left" ?>
                                                           <tbody>
                              <tr>
                                <td><span id="W0040ENLACE2" ?><a href="http://www.mediatico.com/" target="_blank" class="link3">http://www.mediatico.com/</a></span></td>
                              </tr>
                              <tr>
                                
                                <td><span id="W0040ENLACE3" ?><a href="http://www.invesigaci&oacute;n.org.mx/" target="_blank" class="link3">http://www.invesigaci&oacute;n.org.mx/</a></span></td>
                              </tr>
                            </tbody>
                        </table></td>
                      </tr>
                    </tbody>
                </table></td>
              </tr>
              
            </tbody>
          </table>
        </p></td>
      </tr>
    </tbody>
  </table></td>
</tr>
<tr>
  <td></td>
  
</tr>
<tr>
<td><table id="W0040TABLE18" cellspacing="1" cellpadding="1" align="left" ?>
             <tbody>
  <tr></tr>
  <tr>
    <td><p> </p>
      <table id="W0040TABLE19" cellspacing="2" cellpadding="1" align="left" ?>
             
             <tbody>
          <tr>
            <td background="http://localhost/bancotematico/Img_Template/Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
          </tr>
          <tr>
            <td colspan="2"><table id="W0040TABLE20" cellspacing="2" cellpadding="1" align="center" ?>
                                     <tbody>
                  <tr>
                    <td><p align="left" class="title3"><strong><span id="W0040TEXTBLOCK17" ?>Periodismo de   Precisi&oacute;n</span></strong></p></td>
                    
                  </tr>
                  <tr class="normal">
                    <td height="15"><span id="W0040TEXTBLOCK18" ?>Es el rastreo y an&aacute;lisis de hechos de inter&eacute;s en las   estad&iacute;sticas y en las bases de datos.</span><span id="W0040TEXTBLOCK32" ?>apuntes.rinc&oacute;n del vago.com, Wikipedia, Javier Meil&aacute;n   Periodismo de Precisi&oacute;n, Madrid</span></td>
                  </tr>
                  <tr class="normal">
                    
                    <td><span id="W0040TEXTBLOCK42" ?>Fuente:</span><span id="W0040TEXTBLOCK43" ?>apuntes.rinc&oacute;n del vago.com,   Wikipedia, Javier Meil&aacute;n Periodismo de Precisi&oacute;n, Madrid</span></td>
                  </tr>
                  <tr>
                    <td bordercolor="#e0e0e0"><span id="W0040ENLACE4" ?><a href="http://www.wikipedia.org/" target="_blank" class="link3">http://www.wikipedia.org/</a></span></td>
                  </tr>
                </tbody>
                
            </table></td>
          </tr>
        </tbody>
      </table>
    </p></td>
  </tr>
  </tbody>
</table></td>
</tr>

<tr>
  <td></td>
</tr>
<tr>
<td><table id="W0040TABLE36" cellspacing="1" cellpadding="1" align="left" ?>
             <tbody>
  <tr></tr>
  <tr>
    <td><p> </p>
      
      <table id="W0040TABLE37" cellspacing="2" cellpadding="1" align="left" ?>
             <tbody>
          <tr>
            <td background="http://localhost/bancotematico/Img_Template/Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
          </tr>
          <tr>
            <td colspan="2"><table id="W0040TABLE38" cellspacing="2" cellpadding="1" align="center" ?>
                                     <tbody>
                  <tr>
                    
                    <td><p align="left" class="title3"><strong><span id="W0040TEXTBLOCK37" ?>Periodismo   Preventivo</span></strong></p></td>
                  </tr>
                  <tr>
                    <td height="15" class="normal"><span id="W0040TEXTBLOCK38" ?>Analiza los conflictos desde la causa de su origen, el   estallido y las secuelas posteriores a su resoluci&oacute;n.Destaca a los actores que   planteen y busquen soluciones. Emerge como una reacci&oacute;n al tratamiento   &quot;focalizado y fuera de contexto&quot; que suele dar el peridoismo   Informativo.</span></td>
                  </tr>
                  
                  <tr>
                    <td class="normal"><span id="W0040TEXTBLOCK51" ?>Fuente:</span><span id="W0040TEXTBLOCK39" ?>Instituto de Periodismo Preventivoy   de Analisis Internacional. Wikipedia</span></td>
                  </tr>
                  <tr>
                    <td bordercolor="#e0e0e0"><table id="W0040TABLE39" cellspacing="2" cellpadding="1" align="left" ?>
                                                       <tbody>
                          <tr>
                            <td><table id="W0040TABLE11" cellspacing="2" cellpadding="1" align="left" ?>
                                         
                                         <tbody>
                                  <tr>
                                    <td><span id="W0040ENLACE10" ?><a href="http://www.periodismopreventivo.org/" target="_blank" class="link3">http://www.periodismopreventivo.org/</a></span></td>
                                  </tr>
                                  <tr>
                                    <td><span id="W0040ENLACE11" ?><a href="http://www.wikipedia.org/" target="_blank" class="link3">http://www.wikipedia.org/</a></span></td>
                                  </tr>
                                </tbody>
                                
                            </table></td>
                          </tr>
                          <tr>
                            <td></td>
                          </tr>
                        </tbody>
                    </table></td>
                  </tr>
                </tbody>
                
            </table></td>
          </tr>
        </tbody>
      </table>
    </p></td>
  </tr>
  </tbody>
</table></td>
</tr>

<tr>
  <td></td>
</tr>
<tr>
<td><table id="W0040TABLE31" cellspacing="1" cellpadding="1" align="left" ?>
             <tbody>
  <tr></tr>
  <tr>
    <td><p> </p>
      
      <table id="W0040TABLE32" cellspacing="2" cellpadding="1" align="left" ?>
             <tbody>
          <tr>
            <td background="http://localhost/bancotematico/Img_Template/Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
          </tr>
          <tr>
            <td colspan="2"><table id="W0040TABLE33" cellspacing="2" cellpadding="1" align="center" ?>
                                     <tbody>
                  <tr>
                    
                    <td><p align="left" class="title3"><strong><span id="W0040TEXTBLOCK29" ?>Periodismo   Digital</span></strong></p></td>
                  </tr>
                  <tr>
                    <td height="15" class="normal"><span id="W0040TEXTBLOCK30" ?>Emerge por la aparici&oacute;n de un nuevo soporte, Internet, y   promete muchos y profundos cambios, adem&aacute;s de consecuencias para los medios   tradicionales ante una inmensa gama de posibilidades. Lo primero es el alud de   informaci&oacute;n en la Red y su capacidad de actualidad inmediata.</span></td>
                  </tr>
                  <tr>
                    
                    <td class="normal"><span id="W0040TEXTBLOCK47" ?>Fuente:</span><span id="W0040TEXTBLOCK36" ?>Manual del Periodismo.   Dovifatt.Uteha/wikipedia.org </span></td>
                  </tr>
                  <tr>
                    <td bordercolor="#e0e0e0"><table id="W0040TABLE10" cellspacing="2" cellpadding="1" align="left" ?>
                                                       <tbody>
                          <tr>
                            <td><span id="W0040ENLACE8" ?><a href="http://www.gale&oacute;n.com/periodismodigital" target="_blank" class="link3">http://www.gale&oacute;n.com/periodismodigital</a></span></td>
                            
                          </tr>
                          <tr>
                            <td><span id="W0040ENLACE9" ?><a href="http://www.pressnetweb.com/ciberperiodismo" target="_blank" class="link3">http://www.pressnetweb.com/ciberperiodismo</a></span></td>
                          </tr>
                        </tbody>
                    </table></td>
                  </tr>
                </tbody>
                
            </table></td>
          </tr>
        </tbody>
      </table>
    </p></td>
  </tr>
  </tbody>
</table></td>
</tr>

<tr>
  <td></td>
</tr>
<tr>
<td><table id="W0040TABLE22" cellspacing="1" cellpadding="1" align="left" ?>
             <tbody>
  <tr></tr>
  <tr>
    <td><p> </p>
      
      <table id="W0040TABLE23" cellspacing="2" cellpadding="1" align="left" ?>
             <tbody>
          <tr>
            <td background="http://localhost/bancotematico/Img_Template/Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
          </tr>
          <tr>
            <td colspan="2"><table id="W0040TABLE24" cellspacing="2" cellpadding="1" align="center" ?>
                                     <tbody>
                  <tr>
                    
                    <td><p align="left" class="menuTitulo"><strong><span id="W0040TEXTBLOCK23" ?>Periodismo   Cient&iacute;fico</span></strong></p></td>
                  </tr>
                  <tr>
                    <td height="15" class="normal"><span id="W0040TEXTBLOCK24" ?>Cumple con una de las funciones espec&iacute;ficas del   periodista, cual es el divulgar de forma sencilla y accesible los avances   registrados en la ciencia y la tecnolog&iacute;a.</span></td>
                  </tr>
                  <tr>
                    
                    <td class="normal"><span id="W0040TEXTBLOCK44" ?>Fuente:</span><span id="W0040TEXTBLOCK33" ?>Manuel Calvo, CSIC,1990,   Wikipedia</span></td>
                  </tr>
                  <tr>
                    <td bordercolor="#e0e0e0"><span id="W0040ENLACE5" ?><a href="http://www.www.csic.es/" target="_blank" class="link3">http://www.www.csic.es/</a></span></td>
                  </tr>
                </tbody>
            </table></td>
            
          </tr>
        </tbody>
      </table>
    </p></td>
  </tr>
  </tbody>
</table></td>
</tr>
<tr>
  
  <td></td>
</tr>
<tr>
<td><table id="W0040TABLE25" cellspacing="1" cellpadding="1" align="left" ?>
             <tbody>
  <tr></tr>
  <tr>
    <td><p> </p>
      
      <table id="W0040TABLE26" cellspacing="2" cellpadding="1" align="left" ?>
             <tbody>
          <tr>
            <td background="http://localhost/bancotematico/Img_Template/Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
          </tr>
          <tr>
            <td colspan="2"><table id="W0040TABLE27" cellspacing="2" cellpadding="1" align="center" ?>
                                     <tbody>
                  <tr>
                    
                    <td><p align="left" class="title3"><strong><span id="W0040TEXTBLOCK25" ?>Periodismo   Deportivo</span></strong></p></td>
                  </tr>
                  <tr>
                    <td height="15" class="normal"><span id="W0040TEXTBLOCK26" ?>Se especializa en la informaci&oacute;n generada en el &aacute;rea de   los deportes, que ha logrado gran importancia por la popularidad de algunos de   ellos y los torneos internacionales, donde adem&aacute;s se juegan grandes intereses   econ&oacute;micos.</span></td>
                  </tr>
                  <tr>
                    
                    <td class="normal"><span id="W0040TEXTBLOCK45" ?>Fuente:</span><span id="W0040TEXTBLOCK34" ?>Wikipedia</span></td>
                  </tr>
                  <tr>
                    <td bordercolor="#e0e0e0"><span id="W0040ENLACE6" ?><a href="http://www.wikipedia.org/" target="_blank" class="link3">http://www.wikipedia.org/</a></span></td>
                  </tr>
                </tbody>
            </table></td>
            
          </tr>
        </tbody>
      </table>
    </p></td>
  </tr>
  </tbody>
</table></td>
</tr>
<tr>
  
  <td></td>
</tr>
<tr>
  <td><table id="W0040TABLE28" cellspacing="1" cellpadding="1" align="left" ?>
               <tbody>
        <tr></tr>
        <tr>
          <td><p> </p>
            
            <table id="W0040TABLE29" cellspacing="2" cellpadding="1" align="left" ?>
                   <tbody>
                <tr>
                  <td background="http://localhost/bancotematico/Img_Template/Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
                </tr>
                <tr>
                  <td colspan="2"><table id="W0040TABLE30" cellspacing="2" cellpadding="1" align="center" ?>
                                           <tbody>
                        <tr>
                          
                          <td><p align="left" class="title3"><strong><span id="W0040TEXTBLOCK27" ?>Periodismo   Gr&aacute;fico</span></strong></p></td>
                        </tr>
                        <tr>
                          <td height="15" class="normal"><span id="W0040TEXTBLOCK28" ?>Tiene especialidades: La fotograf&iacute;a, la caricatura y la   infograf&iacute;a</span></td>
                        </tr>
                        <tr>
                          
                          <td class="normal"><span id="W0040TEXTBLOCK46" ?>Fuente:</span><span id="W0040TEXTBLOCK35" ?>Wikipedia</span></td>
                        </tr>
                        <tr>
                          <td bordercolor="#e0e0e0"><span id="W0040ENLACE7" ?><a href="http://www.wikipedia.org/" target="_blank" class="link3">http://www.wikipedia.org/</a></span></td>
                        </tr>
                      </tbody>
                  </table></td>
                  
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
  </table></td>
</tr>
</tbody>
</table>