<table id="W0041TABLE1" cellspacing="2" cellpadding="1" align="left">
<tbody>
<tr>
<td colspan="2"><table id="W0041TABLE2" cellspacing="2" cellpadding="1" align="center">
  <tbody>
  <tr>
    <td><p align="center" class="title"><span id="W0041TEXTBLOCK11">VERDAD</span></p></td>
    
  </tr>
  <tr>
    <td height="15"></td>
  </tr>
  <tr>
    <td></td>
  </tr>
  <tr>
    <td></td>
    
  </tr>
  <tr>
    <td bordercolor="#e0e0e0"><table id="W0041TABLE3" cellspacing="2" cellpadding="1">
    <tbody>
      <tr>
      <td><table id="W0041TABLE12" cellspacing="1" cellpadding="1" align="left">
        <tbody>
        <tr>
        <td>
          
          <table id="W0041TABLE13" cellspacing="2" cellpadding="1" align="left">
            <tbody>
              <tr>
                <td background="eticaVerdad_Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
              </tr>
              <tr>
                <td colspan="2"><table id="W0041TABLE14" cellspacing="2" cellpadding="1" align="center">
                    <tbody>
                      <tr>
                        
                        <td><p align="left" class="menuTitulo"><strong><span id="W0041TEXTBLOCK6">Costa   Rica</span></strong></p></td>
                      </tr>
                      <tr>
                        <td height="15"><span class="menuSubtitulo" id="W0041TEXTBLOCK48">Norma</span></td>
                      </tr>
                      <tr>
                        <td class="normal"><span id="W0041TEXTBLOCK50">C&oacute;digo de &Eacute;tica, art&iacute;culo 6.   En el ejercicio de su profesi&oacute;n, las y los miembros del Colegio de Periodistas   de Costa Rica deben, como tarea primordial, hacer realidad el derecho a una   informaci&oacute;n ver&iacute;dica y aut&eacute;ntica. De tal forma que el p&uacute;blico reciba con   objetividad, y lejos de cualquier tipo de distorsi&oacute;n, un exacto desarrollo de   los hechos y actos a informar. </span></td>
                        
                      </tr>
                      <tr>
                        <td class="normal"><span id="W0041TEXTBLOCK22">Art&iacute;culo 12. Las y los   periodistas deben, en el tratamiento de la informaci&oacute;n, evitar el uso de frases   fuera de contexto, material gr&aacute;fico alterado o fuentes informativas fuera de   toda credibilidad. </span></td>
                      </tr>
                      <tr>
                        <td class="normal"></td>
                      </tr>
                      
                      <tr>
                        <td class="normal"><span id="W0041TEXTBLOCK40">Fuente:</span><span id="W0041TEXTBLOCK52">Colegio de Periodistas de Costa   Rica</span>&nbsp;</td>
                      </tr>
                      <tr>
                        <td bordercolor="#e0e0e0"><span id="W0041ENLACE1"><a href="http://www.colper.or.cr/" target="_blank" class="link3">www.Colper.or.cr</a></span></td>
                      </tr>
                    </tbody>
                    
                </table></td>
              </tr>
            </tbody>
          </table>
        </p></td>
      </tr>
    </tbody>
</table></td>
</tr>

<tr>
  <td></td>
</tr>
<tr>
<td><table id="W0041TABLE15" cellspacing="1" cellpadding="1" align="left">
  <tbody>
  <tr></tr>
  <tr>
    <td><p> </p>
      
      <table id="W0041TABLE16" cellspacing="2" cellpadding="1" align="left">
        <tbody>
          <tr>
            <td background="eticaVerdad_Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
          </tr>
          <tr>
            <td colspan="2"><table id="W0041TABLE17" cellspacing="2" cellpadding="1" align="center">
                <tbody>
                  <tr>
                    
                    <td><p align="left" class="menuTitulo"><strong><span id="W0041TEXTBLOCK7">Honduras</span></strong></p></td>
                  </tr>
                  <tr>
                    <td height="15"><span class="menuSubtitulo" id="W0041TEXTBLOCK49">Norma</span></td>
                  </tr>
                  <tr>
                    <td height="15" class="normal"><span id="W0041TEXTBLOCK15">C&oacute;digo de &eacute;tica, art&iacute;culo 2. Son obligaciones de los   periodistas colegiados: </span>&nbsp;</td>
                    
                  </tr>
                  <tr>
                    <td class="normal"><span id="W0041TEXTBLOCK55">k)Informar con exactitud,   imparcialidad y veracidad, sin omitir nada que el p&uacute;blico tenga derecho a   conocer.</span></td>
                  </tr>
                  <tr>
                    <td class="normal"></td>
                  </tr>
                  <tr>
                    
                    <td class="normal"><span id="W0041TEXTBLOCK41">Fuente:</span><span id="W0041TEXTBLOCK57">Colegio de Periodistas,   1979</span>&nbsp;</td>
                  </tr>
                  <tr>
                    <td bordercolor="#e0e0e0"><span id="W0041ENLACE2"><a href="http://www.colegiodeperiodistasdehonduras.com/" target="_blank" class="link3">www.colegiodeperiodistasdehonduras.com</a></span></td>
                  </tr>
                </tbody>
            </table></td>
            
          </tr>
        </tbody>
      </table>
    </p></td>
  </tr>
  </tbody>
</table></td>
</tr>
<tr>
  
  <td></td>
</tr>
<tr>
<td><table id="W0041TABLE18" cellspacing="1" cellpadding="1" align="left">
  <tbody>
  <tr></tr>
  <tr>
    <td><p> </p>
      
      <table id="W0041TABLE19" cellspacing="2" cellpadding="1" align="left">
        <tbody>
          <tr>
            <td background="eticaVerdad_Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
          </tr>
          <tr>
            <td colspan="2"><table id="W0041TABLE20" cellspacing="2" cellpadding="1" align="center">
                <tbody>
                  <tr>
                    
                    <td><p align="left" class="menuTitulo"><strong><span id="W0041TEXTBLOCK8">Puerto   Rico</span></strong></p></td>
                  </tr>
                  <tr>
                    <td height="15"><span class="menuSubtitulo" id="W0041TEXTBLOCK51">Norma</span></td>
                  </tr>
                  <tr>
                    <td class="normal"><span id="W0041TEXTBLOCK16">C&oacute;digo de &eacute;tica, canon 3. La   informaci&oacute;n que difunda ser&aacute; balanceada y clara. Evitar&aacute; la distorsi&oacute;n de la   noticia o sacar fuera de contexto citas, fotos o v&iacute;deos. Admitir&aacute; y corregir&aacute;   errores con prontitud.</span></td>
                    
                  </tr>
                  <tr>
                    <td class="normal"><span id="W0041TEXTBLOCK42">Fuente:</span><span id="W0041TEXTBLOCK62">Asociaci&oacute;n de Periodistas de Puerto   Rico.</span></td>
                  </tr>
                  <tr>
                    <td><span id="W0041ENLACE3"><a href="http://www.asppro.org/" target="_blank" class="link3">www.asppro.org</a></span></td>
                  </tr>
                  
                  <tr>
                    <td bordercolor="#e0e0e0"></td>
                  </tr>
                </tbody>
            </table></td>
          </tr>
        </tbody>
      </table>
    </p></td>
    
  </tr>
  </tbody>
</table></td>
</tr>
<tr>
  <td></td>
</tr>
<tr>
<td><table id="W0041TABLE22" cellspacing="1" cellpadding="1" align="left">
  
  <tbody>
  <tr></tr>
  <tr>
    <td><p> </p>
      <table id="W0041TABLE23" cellspacing="2" cellpadding="1" align="left">
        <tbody>
          <tr>
            <td background="eticaVerdad_Bg_Title_Attribute.jpg" colspan="2" height="10" backgroundgx="Img_Template/Bg_Title_Attribute.jpg"></td>
            
          </tr>
          <tr>
            <td colspan="2"><table id="W0041TABLE21" cellspacing="2" cellpadding="1" align="center">
                <tbody>
                  <tr>
                    <td><span class="menuTitulo" id="W0041TEXTBLOCK9"><strong>Colombia</strong></span></td>
                  </tr>
                  <tr>
                    
                    <td><p align="left" class="menuSubtitulo"><span id="W0041TEXTBLOCK54">Norma</span></p></td>
                  </tr>
                  <tr>
                    <td height="15" class="normal"><span id="W0041TEXTBLOCK17">C&oacute;digo de &eacute;tica, art&iacute;culo 1&ordm;. La comunidad tiene derecho a   estar informada veraz, suficiente y oportunamente y el periodista est&aacute; en la   obligaci&oacute;n de informarla en esos t&eacute;rminos: </span></td>
                    
                  </tr>
                  <tr>
                    <td class="normal"><span id="W0041TEXTBLOCK65">3. La obligaci&oacute;n de informar   se incumple: a. Por acci&oacute;n (noticia falsa) b. Por omisi&oacute;n (al guardar silencio   sobre un hecho) c. Por aproximaci&oacute;n (noticias tendenciosa) </span></td>
                  </tr>
                  <tr>
                    <td class="normal"><span id="W0041TEXTBLOCK33">4. La noticia debe quedar   claramente diferenciada de los comentarios</span></td>
                    
                  </tr>
                  <tr>
                    <td class="normal"><span id="W0041TEXTBLOCK43">Fuente:</span><span id="W0041TEXTBLOCK67">C&iacute;rculo de Periodistas de   Bogot&aacute;</span></td>
                  </tr>
                  <tr>
                    <td bordercolor="#e0e0e0"></td>
                  </tr>
                  
                </tbody>
            </table></td>
          </tr>
        </tbody>
      </table>
    </p></td>
  </tr>
  </tbody>
</table></td>

</tr>
<tr>
  <td></td>
</tr>
<tr>
  <td></td>
</tr>
<tr>
  <td></td>
  
</tr>
</tbody>
</table></td>
</tr>
</tbody>
</table></td>
</tr>
</tbody>
</table>
