<table border="0">
  <tr>
    <td>
      <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://fpdownload.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="455" height="225" align="middle">
        <param name="allowScriptAccess" value="sameDomain" />
      <param name="movie" value="mapaDeActores3D.swf" /><param name="quality" value="high" /><param name="wmode" value="transparent" /><param name="bgcolor" value="#ffffff" /><embed src="mapaDeActores3D.swf" quality="high" wmode="transparent" bgcolor="#ffffff" width="455" height="225" align="middle" allowScriptAccess="sameDomain" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer" /></object>
    </td>
  </tr>
</table>
