<% titulo 'Busqueda en el Banco Temático' %>
<table width="100%" border="0" cellspacing="2" cellpadding="2" >
  <tr>
    <td class="title" align="center" height="300px">
      <!-- Google Search Result Snippet Begins -->
      <div id="results_005564685767684041461:txhz0yhpoke"></div>
      <script type="text/javascript">
        var googleSearchIframeName = "results_005564685767684041461:txhz0yhpoke";
        var googleSearchFormName = "searchbox_005564685767684041461:txhz0yhpoke";
        var googleSearchFrameWidth = 600;
        var googleSearchFrameborder = 0;
        var googleSearchDomain = "www.google.com";
        var googleSearchPath = "/cse";
      </script>
      <script type="text/javascript" src="http://www.google.com/afsonline/show_afs_search.js"></script><!-- Google Search Result Snippet Ends -->
    </td>
  </tr>
</table>
