<% titulo 'Sala de chat' %>
<div id="content">
  <p id="chatwindow"> </p>		
  <!--	<textarea id="chatwindow" rows="19" cols="95" readonly></textarea><br> -->
  <strong><%= current_user.login %> :</strong>
  <%= hidden_field_tag(:chatnick, current_user.login) %>
  <input id="chatmsg" type="text" size="80" maxlength="150"  onkeyup="keyup(event.keyCode);"> 
  <input type="button" value="enviar" onclick="submit_msg();" style="cursor:pointer;border:1px solid gray;"><br><br>
  <br>
</div>
<script type="text/javascript">
    var waittime=800;
    $('chatmsg').focus();
    document.getElementById("chatwindow").innerHTML = "Cargando...";
    var xmlhttp = false;
    var xmlhttp2 = false;
    function ajax_read(url) {
        if(window.XMLHttpRequest){
            xmlhttp=new XMLHttpRequest();
            if(xmlhttp.overrideMimeType){
                xmlhttp.overrideMimeType('text/xml');
            }
        } else if(window.ActiveXObject){
            try{
                xmlhttp=new ActiveXObject("Msxml2.XMLHTTP");
            } catch(e) {
                try{
                    xmlhttp=new ActiveXObject("Microsoft.XMLHTTP");
                } catch(e){
                }
            }   }
        if(!xmlhttp) {
            alert('Giving up :( Cannot create an XMLHTTP instance');
            return false;
        }
        xmlhttp.onreadystatechange = function() {
            if (xmlhttp.readyState==4) {
                document.getElementById("chatwindow").innerHTML = xmlhttp.responseText;
                zeit = new Date(); 
                ms = (zeit.getHours() * 24 * 60 * 1000) + (zeit.getMinutes() * 60 * 1000) + (zeit.getSeconds() * 1000) + zeit.getMilliseconds(); 
                intUpdate = setTimeout("ajax_read('chat.txt?x=" + ms + "')", waittime)
            }
        }
        xmlhttp.open('GET',url,true);
        xmlhttp.send(null);
    }
    function ajax_write(url){
        if(window.XMLHttpRequest){
            xmlhttp2=new XMLHttpRequest();
            if(xmlhttp2.overrideMimeType){
                xmlhttp2.overrideMimeType('text/xml');
            }
        } else if(window.ActiveXObject){
            try{
                xmlhttp2=new ActiveXObject("Msxml2.XMLHTTP");
            } catch(e) {
                try{
                    xmlhttp2=new ActiveXObject("Microsoft.XMLHTTP");
                } catch(e){
                }
            }
        }
        if(!xmlhttp2) {
            alert('Giving up :( Cannot create an XMLHTTP instance');
            return false;
        }
        xmlhttp2.open('GET',url,true);
        xmlhttp2.send(null);
    }
    function submit_msg(){
        nick = document.getElementById("chatnick").value;
        msg = document.getElementById("chatmsg").value;
        if (nick == "") { 
            check = prompt("Por favor ingrese un nombre:"); 
            if (check === null) return 0; 
            if (check == "") check = "anonimo"; 
            document.getElementById("chatnick").value = check;
            nick = check;
        } 
        document.getElementById("chatmsg").value = "";
        ajax_write("w.php?m=" + msg + "&n=" + nick);
    }
    var intUpdate = setTimeout("ajax_read('chat.txt')", waittime);
    function keyup(arg1) { 
        if (arg1 == 13) submit_msg();
    }
    var intUpdate = setTimeout("ajax_read('chat.txt')", waittime);
</script>